---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Pricing from '../components/Pricing.astro';
import Faq from '../components/Faq.astro';
import Features from '../components/Features.astro';
import Contact from '../components/Contact.astro';
import People from '../components/People.astro';
import Costumers from '../components/Costumers.astro';
---

<Layout title="CTAPP">
	<main class="w-screen min-h-screen overflow-y-auto">
		<Hero />
		<div class="w-full h-[calc(100vh/2)] relative">
			<img src="/images/dashboard.png" alt="Dashboard" class="absolute bottom-1/4 left-0 right-0 w-2/3 mx-auto rounded-lg shadow-lg" />
		</div>
		<section class="w-full relative">
			<div class="bg-body-pattern bg-repeat absolute inset-0 top-0 left-0 right-0" />
			<Features />
			<People />
			<Pricing />
			<Faq />
			<Costumers />
			<Contact />
		</section>
	</main>
</Layout>

<style>
	.bg-body-pattern {
		background-size: 150px 150px;
		background-image: url('/images/bg-grid.png');
		background-position-y: -9px;
		mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
		z-index: -2;
	}
</style>
