---
import ContactForm from "./react/ContactForm";
---

<section id="contact" class="container mx-auto min-h-screen py-10 pt-24 px-6 space-y-8 flex flex-col justify-center">
    <h1 class="text-5xl text-center font-semibold text-slate-300">Contactanos</h1>
    <p class="text-slate-400 font-semibold text-xl text-center max-w-[65ch] mx-auto text-balance">
        ¡Nos encantaría saber de ti! Completa nuestro formulario de contacto y déjanos ayudarte a encontrar la solución perfecta para tus necesidades. 
        Estamos aquí para responder cualquier pregunta que tengas y diseñar un plan que se adapte a tus requerimientos específicos.
    </p>
    <ContactForm client:load />
</section>