---
import ContactForm from "./react/ContactForm";
---

<section id="contact" class="container mx-auto min-h-screen py-10 pt-24 px-6 space-y-8 flex flex-col justify-center">
    <h1 class="text-5xl text-center font-semibold text-slate-300">Contactanos</h1>
    <p class="text-slate-400 font-semibold text-xl text-center max-w-[65ch] mx-auto text-balance">
        Si deseas obtener una demo de la aplicación, o deseas conocer más características para poder integrarlo en los procesos de tu empresa, 
        puedes contactarnos completando el siguiente formulario
    </p>
    <ContactForm client:load />
</section>