---
import { FaAngleLeft, FaAngleRight } from 'react-icons/fa'
---

<section id="features" class="container mx-auto min-h-screen py-10 pt-24 px-6 flex flex-col">
    <h5 class="font-semibold text-slate-300 text-2xl">Historias de nuestros clientes</h5>
    <div class="flex items-center justify-between w-full">
        <h1 class="text-4xl font-bold text-slate-200 text-pretty max-w-[65ch] py-6">
            ¡Descubre lo que dicen nuestros clientes! Lee opiniones reales sobre cómo nuestro servicio de servidor ha impulsado el éxito de sus proyectos.
        </h1>
    </div>
    <div class="pt-10 grid grid-cols-4 gap-x-4">
        <div class="grid gap-4">
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Ana García</span>
                        <span class='text-slate-200 text-xs'>Directora de Tecnología en TechSolutions</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "Serverless ha transformado nuestra infraestructura tecnológica. Su servicio eficiente y escalable ha impulsado nuestra productividad a nuevos niveles. 
                    Antes de adoptar Serverless, estábamos luchando con problemas de escalabilidad y mantenimiento constante de servidores. Ahora, con Serverless, podemos 
                    centrarnos en desarrollar nuestras aplicaciones y servicios sin preocuparnos por la infraestructura subyacente. Estamos muy satisfechos con los resultados 
                    obtenidos y recomendamos Serverless a cualquier empresa que busque una solución de alojamiento confiable y fácil de usar."
                </p>
            </div>
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Javier Martínez</span>
                        <span class='text-slate-200 text-xs'>CEO de DigitalDreams</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "¡Increíble! Serverless nos ha proporcionado una solución perfecta para nuestras necesidades de alojamiento. La facilidad de uso y la confiabilidad son incomparables."
                </p>
            </div>
        </div>
        <div class="grid gap-4">
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Laura Pérez</span>
                        <span class='text-slate-200 text-xs'>Desarrolladora Web en WebWizards</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "Estoy impresionada con la flexibilidad de Serverless. Nos ha permitido desarrollar y desplegar aplicaciones de manera rápida y sencilla, sin preocuparnos por la infraestructura subyacente."
                </p>
            </div>
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Carlos Rodríguez</span>
                        <span class='text-slate-200 text-xs'>Gerente de Proyectos en DataDriven</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "Serverless ha sido una elección inteligente para nuestro proyecto. La capacidad de escalar automáticamente según la demanda del 
                    usuario nos ha ahorrado tiempo y dinero. Antes de utilizar Serverless, estábamos constantemente ajustando nuestros servidores para 
                    satisfacer los picos de tráfico, lo que resultaba en costos adicionales y una gestión complicada. Con Serverless, hemos eliminado esos 
                    problemas y podemos concentrarnos en hacer crecer nuestro negocio. Estamos realmente impresionados con los resultados y estamos considerando 
                    expandir nuestro uso de Serverless en futuros proyectos."
                </p>
            </div>
        </div>
        <div class="grid gap-4">
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Juan Martín</span>
                        <span class='text-slate-200 text-xs'>Fundador de StartApp</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "Serverless nos ha permitido concentrarnos en nuestro negocio sin preocuparnos por la gestión de la infraestructura. Es una solución imprescindible para cualquier startup en crecimiento."
                </p>
            </div>
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Sara López</span>
                        <span class='text-slate-200 text-xs'>Gerente de Marketing en MediaMasters</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "Estamos encantados con el rendimiento de Serverless. Ha mejorado la velocidad y la eficiencia de nuestras aplicaciones, lo que ha llevado a una mayor satisfacción del cliente."
                </p>
            </div>
        </div>
        <div class="grid gap-4">
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Elena Sánchez</span>
                        <span class='text-slate-200 text-xs'>Administradora de Sistemas en CloudExperts</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "La implementación de Serverless fue sin problemas y la integración con nuestras herramientas existentes fue perfecta. 
                    ¡Recomendaría este servicio a cualquiera! Antes de adoptar Serverless, estábamos buscando una solución de alojamiento 
                    que nos permitiera escalar rápidamente y manejar picos de tráfico inesperados. Serverless ha superado nuestras expectativas 
                    en todos los sentidos. La facilidad de uso y la confiabilidad del servicio nos han permitido concentrarnos en otras áreas 
                    críticas de nuestro negocio. Estamos muy contentos con nuestra decisión de cambiar a Serverless y lo recomendamos encarecidamente a 
                    cualquier empresa que busque una solución de alojamiento flexible y confiable."
                </p>
            </div>
            <div class="w-full h-auto bg-neutral-600 rounded-xl px-5 pt-6 pb-10 space-y-4">
                <div class='flex justify-start items-center gap-3'>
                    <div class='w-10 h-10 rounded-full bg-slate-300' />
                    <article class='flex flex-col justify-center'>
                        <span class="text-lg font-semibold text-slate-300">Diego Fernández</span>
                        <span class='text-slate-200 text-xs'>Jefe de Tecnología en InnovateTech</span>
                    </article>
                </div>
                <p class='text-balance'>
                    "Serverless ha superado todas nuestras expectativas. La capacidad de escalar de forma dinámica ha sido fundamental para manejar picos de tráfico y garantizar una experiencia sin interrupciones para nuestros usuarios."
                </p>
            </div>
        </div>
    </div>
</section>