---
import Accordion from './../components/react/Accordion'
import { FAQ } from './../constants/index'
---

<section id="faq" class="container mx-auto min-h-screen py-10 pt-24 px-6 space-y-10 flex flex-col justify-center">
    <h1 class="text-5xl text-center font-semibold text-slate-300">FAQ</h1>
    <p class="text-slate-400 font-semibold text-xl text-center">
        Tienes preguntas o dudas. Nosotros te tenemos respuestas.
    </p>
    <div class="w-full flex justify-between items-stretch gap-6 py-6">
        <div class="flex-1">
            <img class='w-full object-contain' src='/landing-page/images/questions.png' alt='Person thinking' />
        </div>
        <Accordion client:load faq={FAQ} />
    </div>
</section>