---
import { FEATURES } from "../constants";
import Item from "./features/Item.astro";
---

<section id="features" class="container mx-auto min-h-screen py-10 pt-24 px-6 space-y-8 flex flex-col">
    <h1 class="text-5xl text-center font-semibold text-slate-300">Características</h1>
    <h2 class="text-3xl text-center font-medium text-slate-300">Conecta. Colabora. Automatiza.</h2>
    <p class="text-slate-400 font-semibold text-xl text-center max-w-[80ch] mx-auto text-balance">
        ¡Descubre nuestras características excepcionales diseñadas para potenciar tu negocio en línea! Desde la escalabilidad instantánea 
        hasta la seguridad de grado empresarial, nuestros servidores te ofrecen la flexibilidad y el rendimiento que necesitas para alcanzar tus objetivos comerciales.
    </p>
    <div class="grid grid-cols-3 gap-x-14 gap-y-4">
        {
            FEATURES.map((feature) => (
                <Item {...feature} />
            ))
        }
    </div>
</section>