---

---

<section id="features" class="container mx-auto min-h-screen py-10 pt-24 px-6 space-y-8 flex flex-col">
    <h1 class="text-5xl text-center font-semibold text-slate-300">Características</h1>
</section>