---
import Social from "./footer/Social.astro";
import SuscriptionForm from "./react/SuscriptionForm";
---

<footer class="w-full min-h-28 space-y-6">
	<section class="border-y-2 border-y-slate-700 w-full py-12">
		<div class="container mx-auto flex justify-between gap-6 items-center px-6">
			<article class="flex-[3_3_0%]"></article>
			<SuscriptionForm client:load />
		</div>
	</section>
	<section>
		<div class="container mx-auto flex justify-between items-center py-6 px-6">
			<div class="flex-1 flex justify-start items-center gap-10 whitespace-nowrap text-sm font-bold">
				<a href="#" class="text-slate-400">Política de privacidad</a>
				<span class="text-slate-400">Términos de servicio</span>
				<span class="text-slate-500">© 2022 CTAPP</span>
			</div>
			<Social />
		</div>
	</section>
</footer>