---
import Social from "./footer/Social.astro";
---

<section class="w-full min-h-28">
    <div class="container mx-auto space-y-6">
        <section class="border-b-2 border-b-slate-600 w-full"></section>
        <section class="flex justify-between items-center py-6">
            <div class="flex-1 flex justify-start items-center gap-10 whitespace-nowrap text-sm font-bold">
                <span class="text-slate-400">Política de privacidad</span>
                <span class="text-slate-400">Términos de servicio</span>
                <span class="text-slate-500">© 2022 CTAPP</span>
            </div>
            <Social />
        </section>
    </div>
</section>