---
import { NAVIGATION } from "../constants";
import Social from "./footer/Social.astro";
import SuscriptionForm from "./react/SuscriptionForm";
---

<footer class="w-full min-h-28 space-y-6">
	<section class="border-y-2 border-y-slate-700 w-full py-12">
		<div class="container mx-auto flex justify-between gap-6 items-center px-6">
			<article class="flex-[3_3_0%] flex justify-start items-start gap-6">
				<div class="w-32 h-32 rounded-sm bg-gray-400 flex justify-center items-center">
					<span>CTAPP</span>
				</div>
				<div class="flex flex-col gap-2 justify-center items-start px-10 font-bold">
					<h3 class="text-3xl font-bold text-slate-500">CTAPP</h3>
					{
						NAVIGATION.map(({ title, href }) => (
							<a href={href} class="text-slate-400 hover:text-slate-500 text-lg">{title}</a>
						))
					}
				</div>
			</article>
			<SuscriptionForm client:load />
		</div>
	</section>
	<section>
		<div class="container mx-auto flex justify-between items-center pb-16 pt-10 px-6">
			<div class="flex-1 flex justify-start items-center gap-10 whitespace-nowrap text-sm font-bold">
				<a href="#" class="text-slate-400">Política de privacidad</a>
				<span class="text-slate-400">Términos de servicio</span>
				<span class="text-slate-500">© 2022 CTAPP</span>
			</div>
			<Social />
		</div>
	</section>
</footer>