---
import ButtonDemo from "./ButtonDemo.astro"
---

<section class='w-screen h-16 py-2 fixed top-0 z-50'>
    <nav class="h-full container mx-auto flex justify-between gap-2 items-center">
        <h4 class="text-white">
            CTAPP
        </h4>
        <ul></ul>
        <div class="h-full flex-1 flex justify-end items-center">
            <ButtonDemo />
        </div>
    </nav>
</section>