---
import ButtonDemo from "./ButtonDemo.astro"
import NavigationItem from "./NavigationItem.astro"
---

<section class='w-screen h-16 py-2 bg-black bg-opacity-40 fixed top-0 z-50'>
    <nav class="h-full container mx-auto flex justify-between gap-2 items-center">
        <div class="flex-1">
            <h4 class="text-white">
                CTAPP
            </h4>
        </div>
        <ul class="flex justify-center items-center gap-4">
            <NavigationItem href="#home">
                Inicio
            </NavigationItem>
            <NavigationItem href="#features">
                Caracteristicas
            </NavigationItem>
            <NavigationItem href="#prices">
                Precios
            </NavigationItem>
            <NavigationItem href="#faq">
                FAQ
            </NavigationItem>
            <NavigationItem href="#contact">
                Contacto
            </NavigationItem>
        </ul>
        <div class="h-full flex-1 flex justify-end items-center">
            <ButtonDemo />
        </div>
    </nav>
</section>