---
import ButtonDemo from "./ButtonDemo.astro"
---

<section class="w-full h-screen hero p-4 pt-20">
    <div class="container mx-auto h-full flex flex-col justify-center items-center gap-10">
        <section class="flex flex-col justify-center items-center gap-2">
            <h1 class="font-semibold text-5xl/[1.1] max-w-[56rem] text-center text-pretty px-4 mb-4">
                La aplicación para el control y administración de los activos de la empresa
            </h1>
            <p class="font-light max-w-3xl px-8 text-gray-100 text-balance text-xl text-center">
                Paqueteria, Visitas, Inspecciones de seguridad y mucho más con la integración de las normativas C-TPAT y OEA
            </p>
        </section>
        <section class="mx-auto flex justify-center gap-4 items-center">
            <ButtonDemo />
            <button class="px-6 text-sky-600 text-sm font-semibold bg-slate-200 rounded-full h-11">
                Contáctanos
            </button>
        </section>
        <section class="flex justify-center gap-16 items-center pt-10">
            <img src="/images/iso-28000-logo.png" class="max-h-16" alt="">
            <img src="/images/ctpat-logo.png" class="max-h-16" />
            <img src="/images/oea-logo.png" class="max-h-16" alt="">
        </section>
    </div>
</section>

<style>
    .hero::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0%;
        bottom: 0%;
        width: 100%;
        left: -0%;
        background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
        -webkit-mask-image: radial-gradient(rgba(0, 0, 0, .45), transparent 70%);
        mask-image: radial-gradient(rgba(0, 0, 0, .45), transparent 70%);
    }
</style>