---
import ButtonDemo from "./ButtonDemo.astro"
---

<section id="home" class="w-full h-screen p-4 pt-20 relative">
	<div class="hero h-0" />
	<div class="container mx-auto h-full flex flex-col justify-center items-center gap-8 px-6 relative">
		<section class="flex flex-col justify-center items-center gap-2">
			<h1 class="font-semibold text-5xl/[1.1] max-w-[56rem] text-center text-pretty px-4 mb-4">
				Desata el poder de tu negocio con nuestros servidores
			</h1>
			<p class="font-light max-w-3xl px-8 text-gray-100 text-balance text-xl text-center">
				Potencia tu negocio con nuestra infraestructura: ¡Servidores rentables, soluciones confiables!
			</p>
		</section>
		<section class="mx-auto flex justify-center gap-4 items-center">
			<ButtonDemo />
			<button class="px-6 text-sky-600 text-sm font-semibold bg-slate-200 rounded-full h-11">
				Contáctanos
			</button>
		</section>
		<section class="flex justify-center gap-16 items-center pt-10">
			<img src="/images/google.png" alt="Google logo" class="max-h-12" decoding="async">
			<img src="/images/microsoft.png" alt="Microsoft logo" class="max-h-12" decoding="async">
			<img src="/images/meta.png" alt="Azure logo" class="max-h-12" decoding="async">
			<img src="/images/ibm.png" alt="IBM logo" class="max-h-12" decoding="async">
			<img src="/images/azure.png" alt="Azure logo" class="max-h-12" decoding="async">
		</section>
	</div>
</section>

<style>
    .hero::before {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0%;
        bottom: 10%;
        width: 100%;
        left: 0%;
        background: linear-gradient(85deg, #4a89e9 0%, #2700ff 100%);
        -webkit-mask-image: radial-gradient(rgba(0, 0, 0, .45), transparent 70%);
        mask-image: radial-gradient(rgba(0, 0, 0, .45), transparent 70%);
    }
</style>