---
import { FaLinkedin, FaFacebook, FaInstagram, FaYoutube } from 'react-icons/fa'
---

<section class="w-full flex justify-end items-center gap-4">
    <FaLinkedin className="text-slate-200 cursor-pointer hover:scale-125 hover:text-slate-300 transition-all" size={32} />
    <FaFacebook className="text-slate-200 cursor-pointer hover:scale-125 hover:text-slate-300 transition-all" size={32} />
    <FaInstagram className="text-slate-200 cursor-pointer hover:scale-125 hover:text-slate-300 transition-all" size={32} />
    <FaYoutube className="text-slate-200 cursor-pointer hover:scale-125 hover:text-slate-300 transition-all" size={32} />
</section>