---
import Header from './../components/Header.astro';
import Footer from './../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CTAPP" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen overflow-x-hidden bg-neutral-900 text-white no-scroll font-sans">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'monofonto';
		src: url('/fonts/monofonto.otf') format('otf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html {
		color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	.no-scroll::-webkit-scrollbar {
		display: none;
	}
</style>
